asgiref==3.3.1
attrs==20.3.0
boto3==1.16.47
botocore==1.19.47
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
clickclick==20.10.2
connexion==2.7.0
decorator==4.4.2
Flask==1.1.2
idna==2.10
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
MarkupSafe==1.1.1
networkx==2.5
openapi-spec-validator==0.2.9
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.4.1
swagger-ui-bundle==0.0.8
urllib3==1.26.2
Werkzeug==1.0.1
image==1.5.33
numpy==1.19.5
Pillow==8.1.0
torch==1.4.0
torchvision==0.2.1
zipp==3.4.0
importlib-metadata==3.4.0
